*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
/*logo*/
.logo img{
    width: 130px;
    display: flex;
    margin: auto;
}

/*h3*/
h3{
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*all label*/
label{
    margin-left: 10px;
    font-weight: 600;
}
label, h3{
    font-weight: 0;
    color: #fff;
}

/*all input*/
input, textarea, select{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    margin: 10px;
    width: 90%;
    
}
select{
    height: 30px;
    border: 1px solid #ffffff;

}
textarea{
    color: #ffffff;
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: -1PX;
}

input{
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #fff;
}
option{
    margin: 10px;
    background-color: rgba(63, 68, 68, 0.514);
}

:focus{
    outline: none;
}

/*container*/
.container{
    background-image: url(images/bg\ 1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 85px 0;
}

/*form-card*/
.form-card{
    background-color: rgba(63, 68, 68, 0.514);
    width: 50%;
    margin: auto;
    padding: 30px 20px;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
/*button*/
.buttons{
    display: flex;
    justify-content: space-around;
}
button:hover{
    transform: scale(0.9);
}

button{
    padding: 10px 15px;
    background-color:  rgb(8, 8, 131);
    border: none;
    color: #fff;
    cursor: pointer;
}
/*end*/

/*
@media (max-width:600px){

    
    input, textarea, select{
        border: none;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        
    }
    
    .form-card{
        width: 75%;
        border-radius: 10px;
    }

    form{
        display: flex;
    flex-direction: column;        
    }
    .button{
        margin-bottom: 20px;
        margin: auto;
        margin-bottom: 40px;
        height: 20px;
    }
    .btn{
        margin: 10px;
    }
    
}
*/
@media (max-width:800px){
/*
    input, textarea, select{
        border: none;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        
    }
        */
    
    .form-card{
        width: 75%;
        border-radius: 10px;
    }

    form{
        display: flex;
    flex-direction: column;        
    }
    .buttons{
        display: flex;
        margin: auto;
    }

    button{
        margin: 10px;
    }
    
}